@{ 
    Layout = null;
}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("directions_railway", "Index", "Home", new { area = "" }, new { @class = "navbar-brand material-icons" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                <li>@Html.ActionLink("Search", "Index", "Train")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Purchased Tickets", "List", "Ticket")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>