@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TrainTicketBookingSystem.ViewModels.Train
@model AvailableTrainViewModel

<h3 class="text-danger">@ViewBag.Error</h3>

<div>
    @Html.LabelFor(x => x.Route.Departure)
    @Html.DisplayFor(x => x.Route.Departure.Name)
</div>
<div>
    @Html.LabelFor(x => x.Route.Arrival)
    @Html.DisplayFor(x => x.Route.Arrival.Name)
</div>
<div>
    @Html.LabelFor(x => x.DepartureTime)
    @Html.DisplayFor(x => x.DepartureTime)
</div>
<div>
    @Html.LabelFor(x => x.BusinessClassPassengersCount)
    @Html.DisplayFor(x => x.BusinessClassPassengersCount) / @AvailableTrainViewModel.BusinessClassCapacity
</div>
<div>
    @Html.LabelFor(x => x.EconomicClassPassengersCount)
    @Html.DisplayFor(x => x.EconomicClassPassengersCount) / @AvailableTrainViewModel.EconomicClassCapacity
</div>
@using (Html.BeginForm("Purchase", "Ticket", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="PassengersCount">Passengers count: </label>
        <select id="PassengersCount" name="PassengersCount">
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        @Html.HiddenFor(x => x.Id)

        <input type="radio" name="TravellerClass" value="economic" checked />
        <label for="TravellerClass">Economic</label>
        <input type="radio" name="TravellerClass" value="business" />
        <label for="TravellerClass">Business</label>
    </div>

    <div>
        @Html.LabelFor(x => x.Route.Price)
        @Html.DisplayFor(x => x.Route.Price)
    </div>

    <input type="submit" class="btn btn-default" value="Purchase" />
}

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/App/Search/results.js"></script>